<div data-registration-modal-target="registrationModal" class="registration-modal modal-container">
  <div class="registration-modal-content">
    <button class="button primary-button" type="button" data-action="click->registration-modal#close">x</button>
    <%= render partial: 'form_no_validate' %>
  </div>
</div>