<div data-registration-modal-target="registrationModal" class="registration-modal modal-container">
  <div class="registration-modal-content">
    <%= render partial: 'form_no_validate' %>
  </div>
</div>