<div class="show-container">
  <div class="show-box">
    <h1>User Management</h1>
    <div class="show-button-container">
      <%= link_to 'Manage accout', '/users', class: "manage-button button" %>
      <%= link_to 'Registration', '/users/new', class: "register-button button" %>
    </div>
  </div>
</div>