* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.back-link-container {
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.back-link {
  text-decoration: none;
  color: inherit;
}

.new-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(250, 223, 247);
  background: linear-gradient(
    90deg,
    rgba(251, 111, 120, 1) 20%,
    rgba(255, 118, 172, 1) 80%
  );
}

ul {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  li {
    list-style: none;
  }
  .ul-container {
    display: flex;
    flex-direction: column;
  }
}
