* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.back-link-container {
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.back-link {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  gap: 2rem;
  padding: 1rem 0 ;
  li {
    list-style: none;
  }
}
